# --- Postgres ---
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=busdb
POSTGRES_PORT=5432

# Postgres connection string used by backend containers (uses service name "db")
DATABASE_URL=postgresql://app:app@db:5432/busdb

# --- Backend/API ---
BACKEND_PORT=8000

# --- Worker ingest ---
FIWARE_URL=https://broker.fiware.urbanplatform.portodigital.pt/v2/entities?q=vehicleType==bus&limit=1000
POLL_SECONDS=60

# --- Frontend ---
FRONTEND_PORT=5173
# Frontend talks to backend through your host port mapping
VITE_API_BASE_URL=http://localhost:8000

PGADMIN_PORT=5050
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin